{
    "prefix": "!",

    "discord_token": "Your Discord Token",

    "safebooru_base_url": "https://safebooru.org/", #  The Safebooru base url
    "safebooru_login": "Your Safebooru Username",
    "safebooru_token": "Your Safebooru Password"
}